html {
    box-sizing: border-box;
}

/* This is the image serving as my background */
body {
    background-image: url(assets/seoulwall.jpg) ;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +2;
    
}
/* Decorations for my name on the page */
h1 {
    justify-content: center;
   font-family: 'Dancing Script', cursive;
  padding: 10px;
  font-weight: bold;
  font-size: xx-large;
  color: rgb(53, 248, 248);
}

nav {
    height: 80px;
}

#main {
    margin-top: 60px;
    margin-bottom: 60px;
    border-style: double;
     box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 20px 2px;
}

#aboutMe {
    font-size: smaller;
    padding-top:90px;
    padding-right: 60px;
}

#aboutImg {
    padding-left: 60px;
    padding-bottom: 70px;
}

#derek {
    height: 500px;
    width: 300px;
}

#input-form {
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 20px 2px;
}
/* sets the links to black color */
a {
    color: black;
}

/* prevents overflow from any div element */
div {
    overflow: auto;
}

/* decoration for sub header on each page */
h2 {
    font-family: 'Hind', sans-serif;
    padding: 20px;
    padding-top: 30px;
   
}

/* this will serve the image of my on the about page */
img {
    
    width:35%;
    float: left;
    border: gray;
    border-style: groove;
    margin-right: 50px;
    
}

/* paragraph decoration */
p {
   
    font-family: 'Architects Daughter', cursive;
  
 }

/* serves the form on the contact page */
 .form-group {
     padding: 40px;
 }

 /* serves the button on the contact page */
 button {
     padding: 15px;
 }

 

 /* adds borders to each row */
 .row {
     border-style: double;
     box-shadow: rgba(0, 0, 0, 0.55) 2px 8px 20px 2px;
 }

 /* decorates the footer */
 footer {
     position: fixed;
     bottom: 0;
     background-color: black;
     width: 100%;
     height: 80px;
     color: rgb(53, 248, 248);
     text-align: center; 
     z-index: +2;
 }

 /* pads the footer text */
 h6 {
     padding: 30px;
 }

 .text-block {
    position: relative;
    bottom: 20px;
    right: 20px;
    background-color: cornflowerblue;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
  }

 

 /* This should determine breakpoint for smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

    /* This should determine breakpoint for tablets */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

    /* This should determin breakpoint for laptops & desktops */
@media only screen  and (min-width : 1224px) {}

    /* This should determin breakpoint for larger sized screens */
@media only screen  and (min-width : 1824px) {}
    


